@model ContactViewModel
@{
    ViewData["Title"] = Model.Title;
}
<h1>@Model.Title</h1>
<h5>@Model.SubTitle</h5>
<hr />
<div class="row g-3">
    <div class="col-md-6">
        @if (!string.IsNullOrEmpty(Model.Email))
        {
            <h6>E-Mail Address:</h6>
            <p><a href="mailto:@Model.Email">@Model.Email</a></p>
        }
    </div>
    <div class="col-md-6">
        <partial name="_ContactForm" model="Model.FormModel" />
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
                }